.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: grid;
  row-gap: 60px;
  justify-content: space-evenly;
  justify-items: center;
  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  @include desktop {
    grid-auto-flow: column;
  }
}

.footer__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  @include desktop {
    text-align: start;
  }
}
.footer__blue-logo {
  color: var(--btn);
}
.adress__list {
  margin-top: 20px;
  @include desktop {
    text-align: start;
  }
}

.adress__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  list-style: none;
  margin-bottom: 9px;
}
.adress__subtitle {
  color: #ffffff;
}
.footer-item-post {
  margin-bottom: 9px;
}
.footer__social {
  @include desktop {
    margin-left: 84px;
    margin-right: 93px;
  }
}

.footer__social-scr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @include desktop {
    text-align: start;
  }
}
.footer__social-list {
  gap: 10px;
  display: flex;
  margin-top: 20px;
}
.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: var(--transition-bg);
  &:hover,
  &:focus {
    background-color: var(--btn);
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.footer__social-icon {
  fill: #ffffff;
}

.footer__subscribe {
  margin-left: auto;

  @include tablet {
    grid-column: 1/3;
  }

  @include desktop {
    grid-column: auto;
  }
}

.footer__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  row-gap: 20px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.footer__label {
  display: flex;
  flex-basis: 100%;
  max-width: 450px;

  @include tablet {
    width: 450px;
  }

  @include desktop {
    max-width: 358px;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms var(--cubic);
  &:hover,
  &:focus {
    border-color: var(--primary-bg-color);
  }
}
.footer__btn {
  position: relative;
  text-align: left;
  padding: 10px 28px;
  width: 200px;
}
.footer__send {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
