.header {
  border-bottom: #ececec solid 1px;
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 15px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0;
  }

  > .container {
    display: flex;
    flex-basis: 100%;
  }
}

.header__link {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 3px;
    left: 0;
    background-color: var(--btn);
    bottom: -32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.header__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  justify-content: center;
}
.navigation__item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-first-title);
  text-decoration: none;
}
.navigation__link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--btn);
  }
}

.connect {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--btn);
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;

  margin-right: 93px;
}

.blue-logo {
  color: var(--btn);
}
.contact__icon {
  &:hover,
  &:focus {
    fill: var(--btn);
  }
}

.contact__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 30px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  transition: color 250 ease;

  @include desktop {
    display: inline-flex;
    font-size: 14px;
    line-height: 1.143;
    align-items: center;
  }
  &:hover,
  &:focus {
    color: var(--btn);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: var(--icon-color);
}

.mob-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  transform: translateX(0%);
}
.mob-menu .is-open {
  transform: translateX(100%);
  transition: transform 25ms cubic-bezier(0.2, 0, 0.2, 1) !important;
}

.menu-open {
  display: block;
  margin-left: auto;
  border-width: 0px;
  padding: 0px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  background-color: #ffffff;

  height: 40px;
  width: 40px;
}

.menu-close {
  padding-top: 10px;
  right: 15px;

  color: #212121;
  border: none;
  background-color: #ffffff;
  display: block;
  margin-left: auto;

  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--btn);
  }
}
.mob-menu-nav {
}
.mob-menu-list {
  padding-left: 20px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;

  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--btn);
  }
}

.mob-connect {
  padding-top: 402px;
}
.mob-connect-item {
  display: flex;
  flex-direction: column;
}
.mob-connect-link {
  padding-left: 20px;
}
.mob-connect-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-connect-email {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;

  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--btn);
  }
}

.mob-connect-icon {
}
.mob-soc-list {
  display: flex;
  flex-direction: row;
}
.mob-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 20px;

  &:not(:last-child) {
    border-right: 1px solid #757575;
  }
}
.mob-soc-link {
  padding-right: 10px;
}
