.benefits-pre-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.benefits-section {
  padding-top: 94px;
}
.benefits-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  padding: 6px 22px;
  transition: var(--transition-color), var(--transition-bg),
    var(--transition-shadow);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.benefits-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  > .benefits-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    border: #eeeeee solid 1px;
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transform: translateY(0%);
    }
  }
}

.past-benefits-item {
  padding: 20px 24px;
}

.benefits-top-wrap {
  position: relative;
  overflow: hidden;
}
.benefits-top-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 72px 16px 52px 32px;
  height: 100%;
  transition: var(--transfotm-cubic);
  transform: translateY(101%);
  overflow: auto;
  .benefits-item:hover & {
    transform: translateY(0%);
    transition: transform 0.25s cubic-bezier(0.2, 0, 0.2, 1) !important;
  }
}

.benefits-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.benefits-pre-title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
