.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    background-color: rgb(133, 84, 20);
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-color: rgb(97, 45, 127);
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    background-color: rgb(24, 137, 69);
  }
}
