.overline {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-opacity), var(--transition-visibility);
  overflow: auto;
}
.overline__modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: var(--shadow-team-item);
  transition: var(--transfotm-cubic);

  @media screen and (max-width: 1199px) {
    width: 450px;
  }
}

.btn__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  &:hover,
  &:focus {
    fill: var(--btn);
    cursor: pointer;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.overline.is-hidden .modal {
  transform: translate(-50%, -165%) scale(0);
}
.overline__form {
  padding: 40px;
}
.overline__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-first-title);
  margin-bottom: 12px;
}
.form__box {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--icon-color);
  margin-bottom: 4px;
}
.form__content {
  position: relative;
}
.form__item {
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
  color: inherit;
  &:focus,
  &:hover {
    outline: transparent;
    border: 1px solid var(--btn);
  }
}

.form__text {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(12 / 14);
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--icon-color);
}
.form__content {
  position: relative;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms var(--cubic);
  .form__item:hover + &,
  .form__item:focus + & {
    fill: var(--btn);
  }
}

// .form-text-box {
//   margin-bottom: 20px;
// }

.modal-btn:focus,
.policy-link:focus {
  outline: 1px solid var(--btn);
}

.policy__dial {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--icon-color);
}

.policy__link {
  color: var(--btn);
  text-decoration: underline;
  .modal-btn:focus,
  &:focus {
    outline: 1px solid var(--btn);
  }
}

.modal__btn {
  display: block;
  margin: 0 auto;
}

.policy__list {
  padding-left: 12px;
  margin-bottom: 30px;
}

.policy__svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  min-height: 15px;
  min-width: 16px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  transition: background-color 250ms var(--cubic);
  .check:checked + .policy__dial & {
    background-color: var(--btn);
    border-color: transparent;
  }
  .check:focus + .policy__dial & {
    border-color: var(--btn);
  }
}
