body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--primary-bg-color);
  color: var(--first-title);
}
.link {
  display: inline-block;
  text-decoration: none;
}
.no-scroll {
  overflow: hidden;
}
