ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}
